html {
  font-family: Lato, sans-serif;
  color: white;
}

section {
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  margin: auto;
  background-color: salmon;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.blue-bg {
  background-color: #1996da;
}

.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.icon-bg {
  display: flex;
  width: 90px;
  height: 90px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
}

.icon {
  width: 45px;
  height: 45px;
}

.white-dot {
  width: 100px;
  height: 100px;
  background-color: white;
}
