.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
  position: relative;
}

#bulbasaur {
  /* your code here */
  top: 20px;
}

#charmander {
  /* your code here */
  top: 40px;
}

#squirtle {
  /* your code here */
  top: 75px;
  left: 10px;
}

#pikachu {
  /* your code here */
  top: 160px;
  left: 10px;
}

#jigglypuff {
  /* your code here */
  top: 300px;
  left: 10px;
}
