html {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-two-third {
  flex-basis: calc((100% / 3) * 2);
}

.column-one-fourth {
  flex-basis: 25%;
}
