button {
  width: 180px;
  height: 50px;
  font-size: 20px;
}

button:hover {
  background-color: black;
  color: white;
}

thead {
  background-color: black;
  color: white;
}

tbody > tr:nth-child(odd) {
  background-color: lightgray;
}
