.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.navbar,
.navlinks {
  font-family: Avenir, sans-serif;
}

.navlinks {
  display: inline;
  margin-right: 30px;
  font-size: 11px;
}

.navlinks > a {
  color: gray;
  text-decoration: none;
}

.nav-logo {
  width: 100px;
  margin-left: 40px;
}

.container {
  width: 900px;
  margin: auto;
}

.row {
  display: flex;
}

.border-bottom {
  border-bottom: 1px solid #f2f3f5;
}

.contact-button {
  height: 30px;
  width: 75px;
  border-radius: 4px;
}

div > .contact-button {
  margin-top: 10px;
  background-color: #294464;
  color: #c9d0d8;
  border: none;
}

.hero-text {
  position: absolute;
  color: #fdfdfd;
  width: 45%;
  left: 3rem;
  top: 2.4rem;
}

.hero-text-h {
  font-family: "Tiempos Headline", serif;
  font-size: 1.6rem;
}

.hero-text-p {
  font-family: Avenir, sans-serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
  padding-bottom: 1.2rem;
}

.hero-button {
  background-color: #294464;
  width: 8.5rem;
  height: 2.5rem;
  border-style: none;
  border-radius: 2px;
}

.hero-button > a {
  color: #c5cdd5;
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: 0.3px;
  font-weight: 600;
}

.hero-img {
  position: relative;
  width: 835px;
  height: 380px;
  background-image: url("images/hero.jpg");
  background-size: cover;
  margin: auto;
}

.overlay {
  width: 835px;
  height: 380px;
  background-color: rgba(0, 0, 0, 0.2);
}
