.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.navbar,
.navlinks {
  font-family: Avenir, sans-serif;
}

.navlinks {
  display: inline;
  margin-right: 30px;
  font-size: 11px;
}

.navlinks > a {
  color: gray;
  text-decoration: none;
}

.nav-logo {
  width: 100px;
  margin-left: 40px;
}

.container {
  width: 900px;
  margin: auto;
}

.row {
  display: flex;
}

.border-bottom {
  border-bottom: 1px solid #f2f3f5;
}

.contact-button {
  height: 30px;
  width: 75px;
  border-radius: 4px;
}

div > .contact-button {
  margin-top: 10px;
  background-color: #294464;
  color: #c9d0d8;
  border: none;
}

.hero-text {
  position: absolute;
  width: 55%;
  left: 3rem;
  top: 2rem;
  font-size: 13px;
  color: white;
  font-family: "Tiempos Headline", serif;
  font-style: normal;
  font-weight: 300;
}

.hero-img {
  position: relative;
  width: 835px;
  height: 365px;
  background-image: url("images/hero.jpg");
  background-size: cover;
  margin: auto;
}

.overlay {
  width: 835px;
  height: 365px;
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 40px;
}
